.wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(156, 90, 90);
}

.wrapper > div {
    background-color: wheat;
    text-align: center;
    flex: 1;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 10px;
}

p {
    background-color: aqua;
    border: 2px solid greenyellow;
}

.posicionado {
    position: fixed;
    background: blanchedalmond;
    top: 30px;
    left: 30px;
}